h1{
  text-align:center;
}
#switch{
    position: relative;
    left:45%;
    margin-top:10px;
    margin-bottom: 20px;
    width: 150px;
    padding:10px;
    font-size: 16px;
    border-radius:15px;
    font-weight: bold;
    background-color: black;
    color:white;
   
}
#switch:hover{
  background-color: white;
  color:black;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
