#menu{
    position: absolute;
    top:0px;
    width:98%;
    display: grid;
    grid-template-columns: repeat(6, 16.667%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
}
.item{
     border: 2px solid black;
     padding: 20px;
     font-size: 25px;
     text-align: center;
     background-color: white;
     color:black;
     font-weight: bold;
     
}
.item:hover{
    background-color: black;
    color:white;
}