#email, #first, #last, #password, #confirm, #select, #company_name, #phone{
  text-align: center;
  margin:10px;
  padding:10px;
  border-bottom: 1px dashed #83A4C5;
  
}
#send{
   width: 100px;
    padding:10px;
    font-size: 16px;
    border-radius:15px;
    font-weight: bold;
    background-color: black;
    color:white;
    
}
#send:hover{
     background-color: white;
     color:black;
}
#signup{
    width:200px;
    margin: 0 auto;
    padding: 30px;
    border:1px solid black;
    box-shadow: 5px 10px #888888;
   
}
